extends layout

block actions
    a(href='/').back-btn Back

block content
    .container.search-results
        pre= JSON.stringify(queryParams, undefined, '    ')
        h1 Search results for
            small= query.search
        .data-container
            ul.data-list.search-results-list
                each uses,classname in items
                    li.search-result
                        h2= classname
                        dl
                            for item in uses
                                dt!= item.elementHTML
                                    //- pre= JSON.stringify(item,null,'    ')

                                dd: a(href=item.uri)= item.uri
                            else
                                dt No items found
